//
// Created by development on 01.09.23.
//

#ifndef LILYGO_WEATHER_CREDENTIALS_H
#define LILYGO_WEATHER_CREDENTIALS_H
const char* ssid = "xxxx";
const char* password = "xxxx";
#endif //LILYGO_WEATHER_CREDENTIALS_H
